article{
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}
body * {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
    margin:0PX;
    padding: 0%;
   
    
}
.contenedor{
    width: 100%;

}
.header img{
   width: 100%;
}
body{
    background-color: rgb(156, 53, 53);
    margin: 0px;
    padding: 0%;
}

header{
    margin: 0px;
    padding: 0%;
    background-color:rgb(156, 53, 53);
}
header nav{
    background-color: rgb(37, 37, 37);

}
nav li{
    padding: 10px;
    display: inline-block;
}
nav a{
    color:linen;
    padding: 10px;
    text-decoration: none;
}
main{
  
    margin-top:10px;
}
nav a:hover{
    background-color: beige;
    color: black;
}
table{
    margin: 0px;
    padding: 0%;
    width: 100%;
}
table, td,th{
    border: 1px solid black;
    background-color: azure;
    
    font-family:cursive;
    color: black;
}
th{
    width: 15%;
   
    max-width: 90%;
}







